- name: logrotate | install
  become: true
  apk:
    name: "{{ item }}"
  loop:
  - logrotate
- name: syslog | /etc/syslog.conf
  become: true
  lineinfile:
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
    path: /etc/syslog.conf
    mode: 0644
    create: true
  register: result
  loop:
  - line: 'kern.*  /var/log/kern.log'
    regexp: '/var/log/kern.log$'
  - line: '*.*     /var/log/messages'
    regexp: '/var/log/messages$'

- name: syslog | restart
  become: true
  service:
    name: syslog
    state: restarted
  when: result.changed
- name: crond | start
  become: true
  service:
    name: crond
    state: started
    enabled: true
- name: klogd | start
  become: true
  service:
    name: klogd
    state: started
    enabled: true
