- name: install packages for ops
  become: true
  apk:
    name: "{{ item }}"
  loop:
    - bash
    - bash-completion
    - tmux
    - mosh
    - file
    - tree
    - rsync
    - htop
    # 网络
    - iftop
    - tcpdump
    - bind-tools
    # info
    - neofetch
    - util-linux
    - util-linux-bash-completion
    # sshrc needs
    - xxd
    - tar
    - coreutils
    - openssl

# common op service
# crond local
